---
import Layout from "../layouts/Layout.astro"
import SideBar from "../components/SideBar.tsx"
import TopBar from "../components/topBar.tsx"
---

<Layout>
    <div class="flex flex-row-reverse w-full h-full">
        <TopBar/> 
        <SideBar/>
    </div> 
</Layout>

<style>
</style>